.timelineWrapper {
  background-color: var(--primary-violet);
  padding: 6rem 0;
  /* background-image: url('/Timeline/inspiration-geometry.png'); 
    defined in javascript do not use in css
  */
}

.timelineHeading {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.text_block {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid black;
  padding: 10px 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 0 0 black;
  line-height: 1;
  max-width: 100%;
}

.verticalTimelineMain {
  background-color: var(--light-teal);
  border-radius: 24px;
  border: 2px solid var(--text-black);
  box-shadow: 6px 6px 0 0 var(--text-black);
}

@media (max-width: 900px) {
  .verticalTimelineMain {
    padding: 0 1.5rem;
  }
}
